// @import "base/normalize";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: cente;
    align-items: center;
    background-color: ghostwhite;
}

