.main-section{
    width: 95%;
    height: 1400vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .main-section__menu{
        width: 50%;
        height: 2%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: radial-gradient($baseColor1,$baseColor2);
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
        .menu__info{
            font-family: $mainFont;
            color: $mainFontsColor;
            font-size: 2vw;
        }
        .menu__grid-list-button{
            padding: 1em;
            background-color: rgba(255,255,255, .2);
            border: none;
            border-radius: 15%;
            i{
                color: $mainFontsColor;
                font-size: 3vw;
            }
        }
        .menu__list-button{
            padding: 1em;
            background-color: rgba(255,255,255, .2);
            border: none;
            border-radius: 15%;
            i{
                color: $mainFontsColor;
                font-size: 3vw;
            }
        }
    }

    .products-list{
        width: 100%;
        height: 95%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        .product{
            width:19%;
            height: 3%;
            display: flex;
            flex-direction: column;
            background-color: ghostwhite;
            -webkit-box-shadow: 4px 2px 15px -3px #000000; 
            box-shadow: 4px 2px 15px -3px #000000;
            position: relative;
            .product__like-button{
                position: absolute;
                top: 5%;
                right: 5%;
                font-size: 2vw;
                color: $likeColorRed;
                background-color: white;
                border: none;
                border-radius: 50%;
                text-align: center;
                &:active{
                    color: rgb(255, 255, 255);
                    background-color: $likeColorRed;
                }
            }
            .product__image{
                width: 100%;
                height: 70%;
                background: radial-gradient($baseColor1,$baseColor2);
            }
            .product__name{
                padding: .2em;
                font-family: $mainFont;
                font-size: 1vw;
                color: $productFontColor;
                &::first-letter{
                    text-transform: capitalize;
                }
            }
            .product__size{
                padding: .2em;
                font-family: $mainFont;
                font-size: .6vw;
            }
            .price__wrapper{
                display: flex;
                .product__price{
                    padding: .2em;
                    font-family: $mainFont;
                    font-size: 1vw;
                    font-weight: 700;
                    color: $productFontColor;
                }
                .old__price{
                    padding: .2em;
                    font-family: $mainFont;
                    font-size: 1vw;
                    text-decoration: line-through;
                    color: lightgrey;
                }
            }
        }
    }
    .list-view{
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .product{
            width:10%;
            height: 4%;
            display: flex;
            flex-direction: column;
            background-color: ghostwhite;
            -webkit-box-shadow: 4px 2px 15px -3px #000000; 
            box-shadow: 4px 2px 15px -3px #000000;
            position: relative;
            .product__like-button{
                position: absolute;
                top: 5%;
                right: 5%;
                font-size: .7vw;
                color: $likeColorRed;
                background-color: white;
                border: none;
                border-radius: 50%;
                text-align: center;
                &:active{
                    color: rgb(255, 255, 255);
                    background-color: $likeColorRed;
                }
            }
            .product__image{
                width: 100%;
                height: 90%;
                background: radial-gradient($baseColor1,$baseColor2);
            }
            .product__name{
                padding: .2em;
                font-family: $mainFont;
                font-size: .4vw;
                color: $productFontColor;
                &::first-letter{
                    text-transform: capitalize;
                }
            }
            .product__size{
                padding: .2em;
                font-family: $mainFont;
                font-size: .4vw;
            }
            .price__wrapper{
                display: flex;
                .product__price{
                    padding: .2em;
                    font-family: $mainFont;
                    font-size: .7vw;
                    font-weight: 700;
                    color: $productFontColor;
                }
                .old__price{
                    padding: .2em;
                    font-family: $mainFont;
                    font-size: .7vw;
                    text-decoration: line-through;
                    color: lightgrey;
                }
            }
        }
    }
}