$baseColor1:rgb(105, 187, 241);
$baseColor2:rgb(10, 50, 182);
$mainFontsColor:rgb(255,255,255);
$productFontColor:rgb(60, 6, 107);
$likeColorRed:rgb(189, 14, 14);
$errorMesageColor:rgb(146, 28, 28);

$mainFont:'Roboto', sans-serif;